@keyframes blinker {
  50% {
    opacity: 0;
  }
}

html {
  font-size: 16px;
}

body {
  background: #333;
  color: limegreen;
  font-family: monospace;
}

#wrapper{
  max-width:1000px;
  margin: 0 auto;
}

#wrapper > header{
  border-bottom: 0;
}

#dos{
  border-right: 0;
}

.bordered {
  border: 2px dashed;
  padding: 13px;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 2px #666;
}

h1 small {
  display: block;
}

.section-wrapper {
  display: flex;
}

dd {
  text-align: justify;
  margin: 0 0 0.7em 0;
  font-size: 0.9em;
}

dt {
  font-weight: bold;
  font-size: 1.3em;
  margin: 0 0 0.6em 0;
}

.item-list div:hover dt:after {
  content: "";
  border: 1px solid;
  width: 10px;
  display: inline-block;
  height: 100%;
  margin-left: 0.2em;
  animation: blinker .75s linear infinite;
}

.item-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item-list div {
  flex: 1 1 100px;
  border-bottom: 1px dashed;
  padding: 0.55em 0.35em;
}

section header div {
  margin: 0 auto;
  width: 50%
}

@media print {
  body {
    color: black;
  }
  .section-wrapper {
    display: block;
  }
}

@media (max-width: 650px) { 
  .section-wrapper {
    display: block;
  }

  #dos {
    border-right: 2px dashed;
    border-bottom: 0;
  }
 }