@keyframes blinker {
  50% {
    opacity: 0;
  }
}

body {
  background: #333;
  color: limegreen;
  font-family: monospace;
}

.bordered {
  border: 2px dashed;
  padding: 13px;
}

h1 {
  text-align: center;
}

h1 small {
  display: block;
}

.section-wrapper {
  display: flex;
}

dd {
  text-align: justify;
  margin: 0 0 10px 0;
  font-size: 0.9em;
}

dt {
  font-weight: bold;
  font-size: 1.3em;
}

.item-list div:hover dt:after {
  content: "";
  border: 1px solid;
  width: 10px;
  display: inline-block;
  height: 100%;
  margin-left: 4px;
  animation: blinker .75s linear infinite;
}

.item-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item-list div {
  flex: 1 1 auto;
  border-bottom: 1px dashed;
  padding: 10px 0;
}

section header div {
  margin: 0 auto;
  width: 50%
}

#donts pre {
  transform: rotate(180deg);
}

html {
  font-size: 16px;
}

@media print {
  body {
    color: black;
  }
  .section-wrapper {
    display: block;
  }
}